body {
    background-color: gray;
}
.banner {
    background-color: black;
    
    height: 500px;
    width: 1400px;
    
    display: flex;
}
.box1 {
    color: white;
    height: 420px;
    width: 450px;
    margin-left: 60px;
    margin-top: 30px;
}
.box1 h1 {
    font-size: 60px;
    margin-bottom: -5px;
}
.box1 p {
    color: skyblue;
}

.box2 {
    height: 420px;
    width: 450px;
    margin-left: 60px;
    margin-top: 30px;
}
